<.turbo_stream action="append" target="messages">
  <.table_row row={@message} row_id={fn message -> "message-#{message.id}" end}>
    <:col :let={message} label="Messages"><%= message.content %></:col>
    <:action :let={message}>
      <.link href={~p"/messages/#{message}"} method="delete" data-confirm="Are you sure?">
        Delete
      </.link>
    </:action>
  </.table_row>
</.turbo_stream>
